.admin-product-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin-product-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.form-container {
    width: 30%; /* Adjust the width of the form container */
    padding-right: 20px; /* Add some spacing */
}

.product-list-container {
    flex: 1; /* Allows the product list to take remaining space */
    max-height: 600px; /* Set a max height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}

.product-table {
    min-width: 700px; /* Ensure the table is wide enough */
}
